.center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.full {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

.blur {
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
}

.hidden {
    display: none;
}