.page {
    background-color: #000;
}

.wrapper,
.container,
.page,
body {
    height: 100%;
    overflow: hidden;
}

.block.full {
    height: 100%;
}

.page .p {
    position: absolute;
    left: 0;
    top: 0;
}