/*p1*/

.p1 {
    /*display: none;*/
}

.p1 {
    background-image: url(../images/bk/bk-dian.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.p1 .wrapper {
    background-image: url(../images/bk/bk-sanshe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bk-p1 {
    background-image: url(../images/bk/bk-p1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.p1 #btn-lijixiaheishou {
    position: absolute;
    left: 50%;
    margin-left: -2.045rem;
    bottom: 1.22rem;
    width: 4.09rem;
    height: 0.73rem;
}

.p1 {
    background-color: #ffda0e;
}

.p1 .left {
    position: absolute;
    left: 0;
    top: 6.63rem;
    width: 1.23rem;
    height: 3.66rem;
}

.p1 .right {
    position: absolute;
    right: 0;
    top: 6.63rem;
    width: 1.41rem;
    height: 3.66rem;
}


/*p1End*/

.p2 {
    display: none;
}

.p2 {
    background-color: #000;
}

.p2 .wrapper {
    background-image: url(../images/bk/bk-p2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.p2 .street {
    transform: scale(9);
}

.p2 .daojishi {
    transform: scale(0);
    width: 2.5rem;
    height: 2.54rem;
}

.p2 .daojishi-number {
    opacity: 0;
}

.p2 .car {
    background-image: url(../images/sprite/car.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    transform: translate(-1000px, 400px);
}

.p2 .mengban {}

.p2 .jishi .shuzi {
    margin-top: 0.47rem;
    font-size: 0.85rem;
    color: #fff;
    text-align: center;
}

.tt {
    width: 0.77rem;
    height: 1.78rem;
}

.tt img {
    width: 100%;
}


/*p2*/


/*p2End*/

#duleisi {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}